body{
    font-family:Sans-serif, Optima;
    font-size: 20px;
    color: white;
}
#content{
    background-color: inherit;
    background:rgba(0,0,0,0.2);
    padding:40px 20px 40px 20px;
    margin: 150px 250px 20px 350px;
    box-shadow: 0px 0px 15px #000;

}

#next{
    background-color: inherit;
    background:rgba(0,0,0,0.2);
    color: white;
    box-shadow: 0px 0px 15px #000;
    padding: 2% 2% 2% 2%;
    border-radius: 5%;


}

#tweet-quote{

    float : right;
}

#tweet-quote:hover{

    opacity: 0.8;
}
